<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>NewsFeed</title>
        <link>{{absolute_url(path('public_news'))}}</link>
        <atom:link href="{{absolute_url(path('public_news'))}}" rel="self" type="application/rss+xml" />
        <description>globals.siteDescription</description>
        <language>en-us</language>
        {% for entry in list %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{absolute_url(path('public_view', {id: entry.id}))}}</link>
                <guid>{{absolute_url(path('public_view', {id: entry.id}))}}</guid>
                <pubDate>{{ entry.updated | date('r') }}</pubDate>
                <author>{{ entry.user.email }} ({{ entry.user }})</author>
                <description><![CDATA[
                    {{ entry.text }}
                ]]></description>
            </item>
        {% endfor %}
    </channel>
</rss>