<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Title</title>
        <link>http://site.url/asdfasdf</link>
        <atom:link href="http://site.url/asdfasdf" rel="self" type="application/rss+xml" />
        <description>globals.siteDescription</description>
        <language>en-us</language>
        <pubDate>now.rss</pubDate>
        <lastBuildDate>now.rss</lastBuildDate>
        {% for entry in list %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.datetime }}</pubDate>
                <author>{{ entry.user }}</author>
                <guid>{{ entry.url }}</guid>
                <description><![CDATA[
                    {{ entry.text }}
                ]]></description>
            </item>
        {% endfor %}
    </channel>
</rss>